body,
html {
  background-color: #ecf0f1;
  margin: 0;
}
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
button {
  border: 0;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
}

button:active {
  opacity: 0.8;
}

a {
  text-decoration: none;
}
body ::-webkit-scrollbar {
  width: 1px;
}
body > iframe {
  display: none;
}
.toaster-notification {
  font-family: 'Fira Sans Condensed';
  font-weight: 600;
}
