@import 'base';
#back-btn {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.checkout-heading {
  margin: 6px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
}
.adress-box {
  width: 30%;
  height: 65vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  > label {
    width: 100%;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    > input {
      background-color: inherit;
      position: relative;
      width: 100%;
      height: 4.5vh;
      font-size: 1.1rem;
      border: 2px solid black;
      border-radius: 5px;
      padding: 5px;
      font-family: 'Ubuntu', sans-serif;
    }
  }

  > button {
    background-color: $primary-color;
    width: 50%;
    font-size: 1.1rem;
    padding: 10px 0px;
    border-radius: 25px;

    color: white;
    &:active {
      transform: scale(0.9);
    }
  }
}
#success_order_message {
  width: 50%;
  font-family: 'Mukta', Consolas;
}

@media screen and (max-width: 361px) {
  .adress-box {
    width: 90%;
  }
}
